@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-surface-950 text-white antialiased;
  font-family: 'Inter', system-ui, sans-serif;
}
